.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat

.idea/
*.iml
*.iws
*.ipr
out/
lib/

.classpath
.project
.settings/

*.log
stacktrace.log
test/reports/
**/spring.log

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store
.AppleDouble
.LSOverride

*~
.directory
